research_platform/legal/MCP Chatbot.json
{
  "name": "MCP Chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are YGGDRASIL — an advanced Research Assistant.\n\nIdentity Rule:\nIf the user asks who you are or anything similar to your identity, always reply:\n\"I am YGGDRASIL Research Assistant. I am here to guide you on the research topics.\"\n\nResearch Workflow:\n1️⃣ Search using MCP Client first → return this in section \"MCP Data\"\n2️⃣ Then search using SerpAPI → return this in section \"Web Data\"\n3️⃣ Then provide:\n- Conclusion: A short combined analysis\n- Future Suggestions: What to explore next\n\nOutput Format:\nMCP Data:\n<results>\nWeb Data:\n<results>\n\nConclusion:\n<brief summary>\n\nFuture Suggestions:\n<next steps>\n\nOther Rules:\n• If no MCP Data → write: \"No MCP result found\"\n• Keep information separated until conclusion\n• Stay concise and accurate\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        -112
      ],
      "id": "61716fa3-37d1-4e39-ac19-a1d13e71f833",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n.orravyn.cloud/mcp/b51fe321-3763-4039-b9aa-71dbda427b4d",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        512,
        128
      ],
      "id": "5e72ce77-d557-479b-b40e-d9df4d55386c",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        128
      ],
      "id": "fdde24ac-f763-437e-80ab-96fd1d0ff95e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7wJl3jCigro1TPq6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        48,
        128
      ],
      "id": "db15610f-c3ed-47bd-b04e-712a95932051",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        336,
        160
      ],
      "id": "9216fddd-764d-4a22-88b7-ca9f2c55363b",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "jUCPPiFQ8GynQycU",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "844779dc-4f69-4879-a7dc-99ed4e4527d7",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://orravyn.cloud"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -112
      ],
      "id": "7c5e79af-7583-4ef0-93a2-21805962575f",
      "name": "Webhook",
      "webhookId": "844779dc-4f69-4879-a7dc-99ed4e4527d7"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        -112
      ],
      "id": "ac7bbbc8-ce29-4b1e-a015-b247d46413f9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI's response from the input\nconst aiResponseText = $input.item.json.output;\n\n// Create a clean JSON object for the final reply\nconst finalResponse = {\n  reply: aiResponseText\n};\n\n// Return this object as the output of this node\nreturn finalResponse;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -112
      ],
      "id": "71482253-a2c9-4149-b438-fd9864627124",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "daa1134e-2b89-4664-a3c1-45e3bc6454ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f82c4a36db8ca39cc85b6d85db9d108f8612e95a673b45230511384bacd9001"
  },
  "id": "gdj14TmOhAmONygf",
  "tags": []
}